/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/mixins';
@import './utils/visually-hidden';

@import './base/common';
@import './base/container';
@import './layouts/section-title';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/hero-picture';
@import './layouts/hero-button';

@import './layouts/how-we-do';
@import './layouts/program';

@import './layouts/about';
@import './layouts/modal-certificate';
@import './layouts/guarantee';
@import './layouts/section-title';


@import './layouts/contacts';
@import './layouts/header';




@import './layouts/footer';
