<!-- ABOUT -->

<section class="section" id="about">
  <div class="container">
    <h2 class="section-title section__title_aboute">Teacher</h2>

    <div class="aboute__wrapper">
      <picture>
        <source
          srcset="../src/images/about-528.webp 1x, ../src/images/about-528@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1680px)"
        />
        <source
          srcset="../src/images/about-528.jpg 1x, ../src/images/about-528@2x.jpg 2x"
          media="(min-width: 1680px)"
        />
        <source
          srcset="../src/images/about-242.webp 1x, ../src/images/about-242@2x.webp 2x"
          type="image/webp"
          media="(max-width: 1679px)"
        />
        <source
          srcset="../src/images/about-242.jpg 1x, ../src/images/about-242@2x.jpg 2x"
          media="(max-width: 1679px)"
        />
        <img
          class="aboute__images"
          src="../src/images/about-528.jpg"
          alt="Photo of English teacher Elena Moreva"
        />
      </picture>

      <div class="about-text__wrapper">
        <h3 class="section__subtitle section__subtitle_aboute">Elena Moreva</h3>

        <ul class="about-list list">
          <li class="about-list__item">
            <p class="about-list__text">6 yeards of experience in preparing students for UPE</p>
          </li>
          <li class="about-list__item">
            <p class="about-list__text">Own result of passing VNO - 197 points 2 years in a row</p>
          </li>
          <li class="about-list__item">
            <p class="about-list__text">
              Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
              English Test)
            </p>
          </li>
        </ul>

        <p class="about__text overtitle">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </p>
        <p class="about__text">
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </p>
        <p class="about__text about__text_end">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston)
        </p>

        <a class="aboute__link" href="" data-modal-open>Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>

<!-- MODAL Certificate -->
<div class="modal-certificate is-hidden" data-modal>
  <div class="certificate-wrap">
    <button type="button" class="cross" data-modal-close>
      <svg width="18" height="18" class="cross__icon">
        <use href="./images/icons.svg#cross"></use>
      </svg>
    </button>
  </div>

  <picture>
    <source
      srcset="../src/images/certificate-500.jpg 1x, ../src/images/certificate-500@2x.jpg 2x"
      media="(max-width: 1679px)"
    />
    <source
      srcset="../src/images/certificate-500.webp 1x, ../src/images/certificate-500@2x.webp 2x"
      media="(max-width: 1679px)"
      type="image/webp"
    />
    <img
      class=""
      src="../src/images/certificate-500.jpg"
      alt="Certificate of English teacher Elena Moreva"
    />
  </picture>
</div>
