<section class="advantages-section section">
  <div class="container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item advantages-list__icon-adapted">
        <p class="advantages-list__item-text">
          Adapted author's<br />
          UPE program
        </p>
      </li>
      <li class="advantages-list__item advantages-list__icon-modern">
        <p class="advantages-list__text">
          Modern<br />
          teaching methods
        </p>
      </li>
      <li class="advantages-list__item advantages-list__icon-financial">
        <p class="advantages-list__text">
          Financial guarantee<br />
          the result
        </p>
      </li>
    </ul>
  </div>
</section>
