<section class="advantages-section section">
  <div class="container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="advantages-services">
      <li class="advantages-services__list advantages-services__icon-adapted list">
        <p class="advantages-services__item">
          Adapted author's<br />
          UPE program
        </p>
      </li>
      <li class="advantages-services__list advantages-services__icon-modern list">
        <p class="advantages-services__item advantages-services__text">
          Modern<br />
          teaching methods
        </p>
      </li>
      <li class="advantages-services__list advantages-services__icon-financial list">
        <p class="advantages-services__item advantages-services__text">
          Financial guarantee<br />
          the result
        </p>
      </li>
    </ul>
  </div>
</section>
