<!-- BENEFITS -->
<section class="benefits">
  <div class="container">
    <h2 class="section-title benefits__section-title">
      Why do people <span class="benefits__section-title_indent">choose us</span>
    </h2>
    <div class="benefits__wrapper">
      <ul class="benefits-list list">
        <li class="benefits-list__item">
          <p class="benefits-list__text">Training in small groups</p>
        </li>
        <li class="benefits-list__item"><p class="benefits-list__text">Rendered notes</p></li>
        <li class="benefits-list__item">
          <p class="benefits-list__text">Each lesson has a goal and a specific result</p>
        </li>
        <li class="benefits-list__item">
          <p class="benefits-list__text">The real results of the teacher</p>
        </li>
        <li class="benefits-list__item">
          <p class="benefits-list__text">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="benefits-list__item">
          <p class="benefits-list__text">Set of groups by level of knowledge</p>
        </li>
      </ul>
    </div>
  </div>
</section>
