<!-- BENEFITS -->
<section class="benefits">
  <div class="container">
    <h2 class="section-title benefits__section-title">
      Why do people <span class="benefits__section-title_indent">choose us</span>
    </h2>
    <div class="benefits__wrapper">
      <ul class="benefits-list list">
        <li class="benefits-list__item">Training in small groups</li>
        <li class="benefits-list__item">Rendered notes</li>
        <li class="benefits-list__item">Each lesson has a goal and a specific result</li>
        <li class="benefits-list__item">The real results of the teacher</li>
        <li class="benefits-list__item">
          The course program meets the requirements of the MES of Ukraine
        </li>
        <li class="benefits-list__item">Set of groups by level of knowledge</li>
      </ul>
    </div>
  </div>
</section>
