<section id="program" class="program section">
  <div class="container program__container">
    <h2 class="section-title section-title_color">Our program</h2>
    <div class="program__wrapper">
      <ul class="semester list">
        <li class="semester__item">
          1 semester
          <ul class="direction list">
            <li class="direction__item">
              — Grammar
              <ul class="subject list">
                <li class="subject__item">Nouns & Articles</li>
                <li class="subject__item">Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="direction__item">
              — Vocabulary
              <ul class="subject list">
                <li class="subject__item">Family & Relations</li>
                <li class="subject__item">People & Society</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          2 semester
          <ul class="direction list">
            <li class="direction__item">
              — Grammar
              <ul class="subject list">
                <li class="subject__item">Pronouns</li>
                <li class="subject__item">Active Voice</li>
                <li class="subject__item">Passive Voice</li>
              </ul>
            </li>
            <li class="direction__item">
              — Vocabulary
              <ul class="subject list">
                <li class="subject__item">Home</li>
                <li class="subject__item">School</li>
                <li class="subject__item">Work</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          3 semester
          <ul class="direction list">
            <li class="direction__item">
              — Grammar
              <ul class="subject list">
                <li class="subject__item">Modal verbs</li>
                <li class="subject__item">Infinitive</li>
                <li class="subject__item">Gerund</li>
                <li class="subject__item">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="direction__item">
              — Vocabulary
              <ul class="subject list">
                <li class="subject__item">Travel & Tourism</li>
                <li class="subject__item">Culture & Free Time</li>
                <li class="subject__item">Sport</li>
              </ul>
            </li>
            <li class="direction__item">
              — Writing
              <ul class="subject list">
                <li class="subject__item">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          4 semester
          <ul class="direction list">
            <li class="direction__item">
              — Grammar
              <ul class="subject list">
                <li class="subject__item">Clauses: Conditional and Wishes</li>
                <li class="subject__item">Direct / Reported speech</li>
                <li class="subject__item">Preposition</li>
                <li class="subject__item">Conjunction</li>
                <li class="subject__item">Numeral</li>
              </ul>
            </li>
            <li class="direction__item">
              — Vocabulary
              <ul class="subject list">
                <li class="subject__item">Healthy Living</li>
                <li class="subject__item">Nature & Environment</li>
                <li class="subject__item">Money</li>
              </ul>
            </li>
            <li class="direction__item">
              — Writing
              <ul class="subject list">
                <li class="subject__item">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          5 semester
          <ul class="direction list">
            <li class="direction__item">
              —
              <ul class="subject list">
                <li class="subject__item">Revision</li>
                <li class="subject__item">Tests</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- BENEFITS -->
<section class="benefits">
  <div class="container">
    <h2 class="section-title benefits__section-title">
      Why do people <span class="benefits__section-title_indent">choose us</span>
    </h2>
    <div class="benefits__wrapper">
      <ul class="benefits-list list">
        <li class="benefits-list__item">Training in small groups</li>
        <li class="benefits-list__item">Rendered notes</li>
        <li class="benefits-list__item">Each lesson has a goal and a specific result</li>
        <li class="benefits-list__item">The real results of the teacher</li>
        <li class="benefits-list__item">
          The course program meets the requirements of the MES of Ukraine
        </li>
        <li class="benefits-list__item">Set of groups by level of knowledge</li>
      </ul>
    </div>
  </div>
</section>
