<section class="section" id="contacts">
  <div class="container">
    <h2 class="contacts-title">
      Registration for a <span class="contacts-title__color-orange">free</span> phone
      <span class="contacts-title__color-orange">consultation</span> on the nuances of English UPE
    </h2>
    <p class="contacts-text">
      Leave a request for participation in a
      <span class="contacts-text__color-orange">free lesson</span>.<br />A consultant will contact
      you and answer your questions
    </p>
    <form class="contacts-form">
      <input
        type="name"
        name="input-name"
        class="contacts-form__input contacts-form__input-name"
        placeholder="Name*"
      />
      <input type="tel" name="input-tel" class="contacts-form__input" placeholder="Phone*" />
      <button type="submit" class="contacts-form__btn">i want a free lesson</button>
    </form>
  </div>
</section>
