<section class="section footer__section">
  <div class="container">
    <div class="footer">
      <a href="#header" class="footer-logo link">
        <svg class="footer-contacts__icon">
          <use href="./images/sprite.svg#logo-icon-black-mobile" width="80px" hight="29px"></use>
        </svg>
      </a>
      <svg class="footer-contacts__icon-tablet">
        <use href="./images/sprite.svg#logo-icon-black-tablet" width="128px" hight="45px"></use>
      </svg>
      <ul class="footer-list list">
        <li class="footer-item">
          <a href="tel:+38 (000) 000 00 00" class="footer-contacts__link link">
            <svg class="footer-contacts__icon-tel">
              <use href="./images/sprite.svg#footer-phone"></use>
            </svg>
            +38 (000) 000 00 00
          </a>
        </li>
        <li class="footer-item">
          <a href="https://www.instagram.com/" class="footer-contacts__link link">
            <svg class="footer-contacts__icon-inst">
              <use href="./images/sprite.svg#footer-instagram-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-wrap">
      <a href="" class="footer-wrap__link">&#64; All rights reserved, 2019</a>
    </div>
  </div>
</section>
