<section class="section footer__section">
  <div class="footer">
    <div class="container footer-container">
      <a href="#header" class="footer-logo link">
        <svg class="footer-logo__icon" width="80" height="29">
          <use href="./images/sprite.svg#logo-icon-black-mobile"></use>
        </svg>
        <svg class="footer-logo__icon-tablet" width="128" height="45">
          <use href="./images/sprite.svg#logo-icon-black-tablet"></use>
        </svg>
      </a>
      <ul class="footer-list list">
        <li class="footer-list__item">
          <a href="tel:+380000000000" class="footer-list__link footer-list__link-border link">
            <svg class="footer-list__item-icon">
              <use href="./images/sprite.svg#footer-phone"></use>
            </svg>
            +38 (000) 000 00 00
          </a>
        </li>
        <li class="footer-list__item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-list__link footer-list__link-inst link"
          >
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-wrap">
      <div class="container">
        <p class="footer-wrap__link">&#64; All rights reserved, 2019</p>
      </div>
    </div>
  </div>
</section>
