<section class="footer">
  <div class="container">
    <div>
      <a href="#header" class="footer-logo link">
        <svg class="footer-contacts__icon">
          <use href="./images/sprite.svg#logo-icon-black-mobile" width="80px" hight="29px"></use>
        </svg>
      </a>
      <svg class="footer-contacts__icon-tablet">
        <use href="./images/sprite.svg#logo-icon-black-tablet" width="128px" hight="45px"></use>
      </svg>
      <ul class="footer-list list">
        <li class="footer-item">
          <svg class="footer-contacts__icon-tel">
            <use href="./images/sprite.svg#footer-phone"></use>
          </svg>
          <a href="tel:+38 (000) 000 00 00" class="footer-contacts__link link"
            >+38 (000) 000 00 00</a
          >
        </li>
        <li class="footer-item"></li>
      </ul>
    </div>
    <div class="">
      <a>&#64; All rights reserved, 2019</a>
    </div>
  </div>
</section>
