<header class="header">
    <div class="container header-container">
        <a href="" class="logo">
            <svg class="logo__icon_mobile" width="80" height="29">
                <use href="./images/sprite.svg#logo-icon-black-mobile"></use>
            </svg>
            <svg class="logo__icon_tablet" width="128" height="45">
                <use href="./images/sprite.svg#logo-icon-black-tablet"></use>
            </svg>
        </a>
        <div class="header__left">
            <nav>
                <ul class="nav-list list">
                    <li class="nav-list__item">
                        <a href="" class="nav-list__item-link link">Studying program</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="" class="nav-list__item-link link">about</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="" class="nav-list__item-link link">training options</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="" class="nav-list__item-link link">contacts</a>
                    </li>
                </ul>
            </nav>
            <a href="" class="consultation-btn link">consultation by phone</a>
            <button class="burger-menu-btn" type="button" data-menu-open>
                <svg class="burger-menu-btn__icon" width="21" height="12">
                    <use href="./images/sprite.svg#burger-menu-icon"></use>
                </svg>
            </button>
        </div>
    </div>
</header>