<header class="header">
    <div class="container">
        <a href="" class="logo">
            <img src="" alt="" class="logo__img">
        </a>
        <nav>
            <ul class="nav-list list">
                <li class="nav-list__item">
                    <a href="" class="nav-list__item-link link">Studying program</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__item-link link">about</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__item-link link">training options</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__item-link link">contacts</a>
                </li>
            </ul>
            <a href="" class="consultation-btn">consultation by phone</a>
        </nav>
        <button class="burger-menu-btn" type="button" data-menu-open>
            <svg class="burger-menu-btn__icon" width="40" height="40">
                <use href="./images/sprite.svg#burger-menu-icon"></use>
            </svg>
        </button>
    </div>
</header>