<section class="hero section hero-gradient">
  <div class="container">
    <div class="hero-section">
      <h1 class="hero-section__title">Complex preparation for English UPE</h1>

      <p class="hero-section__subtitle">
        <span class="hero-section__text">It won’t be easy.</span><br />
        <span class="hero-section__item">But you are guaranteed to get</span>
        <span class="hero-section__decoration">+25 points</span>
      </p>

      <a href="" class="hero-button link">i want a free lesson</a>
    </div>

    <picture>
      <source
        srcset="../src/images/mobile-team.webp 1x, ../src/images/mobile-team@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="../src/images/mobile-team.jpg 1x, ../src/images/mobile-team@2x.jpg 2x"
        media="(max-width: 767px)"
      />

      <source
        srcset="../src/images/tablet-team.webp 1x, ../src/images/tablet-team@2x.webp 2x"
        media="(min-width: 768px) and (max-width: 1679px)"
        type="image/webp"
      />
      <source
        srcset="../src/images/tablet-team.jpg 1x, ../src/images/tablet-team@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1679px)"
      />

      <source
        srcset="../src/images/desktop-team.webp 1x, ../src/images/desktop-team@2x.webp 2x"
        media="(min-width: 1680px)"
        type="image/webp"
      />
      <source
        srcset="../src/images/desktop-team.jpg 1x, ../src/images/desktop-team@2x.jpg 2x"
        media="(min-width: 1680px)"
      />

      <img src="../src/images/desktop-team.jpg" alt="team meeting at work" class="" />
    </picture>

    <picture>
      <source
        srcset="../src/images/mobile-team-x.webp 1x, ../src/images/mobile-team-x@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="../src/images/mobile-team-x.jpg 1x, ../src/images/mobile-team-x@2x.jpg 2x"
        media="(max-width: 767px)"
      />

      <source
        srcset="../src/images/tablet-team-x.webp 1x, ../src/images/tablet-team-x@2x.webp 2x"
        media="(min-width: 768px) and (max-width: 1679px)"
        type="image/webp"
      />
      <source
        srcset="../src/images/tablet-team-x.jpg 1x, ../src/images/tablet-team-x@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1679px)"
      />

      <source
        srcset="../src/images/desktop-team-x.webp 1x, ../src/images/desktop-team-x@2x.webp 2x"
        media="(min-width: 1680px)"
        type="image/webp"
      />
      <source
        srcset="../src/images/desktop-team-x.jpg 1x, ../src/images/desktop-team-x@2x.jpg 2x"
        media="(min-width: 1680px)"
      />

      <img src="../src/images/desktop-team-x.jpg" alt="team meeting at work" class="" />
    </picture>
  </div>
</section>
