<section class="hero section hero-gradient">
  <div class="container">
    <div class="hero-section">
      <h1 class="hero-section__title">Complex preparation for English UPE</h1>

      <p class="hero-section__subtitle">
        <span class="hero-section__text">It won’t be easy.</span><br />
        <span class="hero-section__item">But you are guaranteed to get</span>
        <span class="hero-section__decoration">+25 points</span>
      </p>
    </div>
    <div class="hero-btn">
      <button type="button" class="hero-button">i want a free lesson</button>
    </div>

    <ul>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div>
</section>
