<section class="doit section" id="how-we-do">
    <div class="container">
    <h2 class="section-title">How do we do it</h2>

    <div class="doit__wrapper">
    <ul class="doit-list list">
        <li class="doit-list__item">
            <svg class="doit-list__item-icon" width="45.39" height="48">
            <use href="images/sprite.svg#how-do-icon1"></use>
            </svg>
            <h3 class="doit-list__item-caption">Adapted program<span class="doit-list__item-caption_indent">
            preparation for UPE</span></h3>
            <p class="doit-list__item-desc">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
        </li>

        <li class="doit-list__item">
            <svg class="doit-list__item-icon" width="48" height="47">
            <use href="images/sprite.svg#how-do-icon2"></use>
            </svg>
            <h3 class="doit-list__item-caption">Classroom and online learning</h3>
            <p class="doit-list__item-desc">The teacher will help not only in the classroom, but also during home preparation.
            <span class="doit-list__item-desc_indent">Parents can chat if they wish.</span></p>
        </li>

        <li class="doit-list__item">
            <svg class="doit-list__item-icon" width="68.43" height="48">
            <use href="images/sprite.svg#how-do-icon3"></use>
            </svg>
            <h3 class="doit-list__item-caption">The habit of reading in English</h3>
            <p class="doit-list__item-desc">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
        </li>

        <li class="doit-list__item">
            <svg class="doit-list__item-icon" width="48.35" height="48">
            <use href="images/sprite.svg#how-do-icon4"></use>
            </svg>
            <h3 class="doit-list__item-caption">Psychological <span class="doit-list__item-caption_indent">support</span></h3>
            <p class="doit-list__item-desc">We will teach you testing techniques, the ability to plan your confidence training <span class="doit-list__item-desc_indent">in itself.</span></p>
        </li>

        
        <li class="doit-list__item">
            <svg class="doit-list__item-icon" width="39.83" height="48">
            <use href="images/sprite.svg#how-do-icon5"></use>
            </svg>
            <h3 class="doit-list__item-caption">Training on copyright manuals</h3>
            <p class="doit-list__item-desc">You don't have to waste your time
            on a search for material and to buy anything extra. We have compiled <span class="doit-list__item-desc_indent">2 manuals for you.</span></p>
        </li>

        <li class="doit-list__item">
            <svg class="doit-list__item-icon" width="57.14" height="48">
            <use href="images/sprite.svg#how-do-icon6"></use>
            </svg>
            <h3 class="doit-list__item-caption">Ability to comprehend spoken English</h3>
            <p class="doit-list__item-desc">“F.R.I.E.N.D.S” won't help you. You will listen regularly <span class="doit-list__item-desc_indent">and analyze audio recordings </span><span class="doit-list__item-desc_indent">in accordance with the studied </span><span class="doit-list__item-desc_indent">vocabulary.</span></p>
        </li>
    </ul>
    </div>
</div>
</section>