<!-- PROGRAM -->
<section id="program" class="program section">
  <div class="container program__container">
    <h2 class="section-title section-title_color">Our program</h2>
    <div class="program__wrapper">
      <ul class="semester list">
        <li class="semester__item">
          <h3 class="semester__title">1 semester</h3>
          <ul class="direction list">
            <li class="direction__item">
              <h4 class="direction__title">— Grammar</h4>
              <ul class="subject list">
                <li>
                  <p class="subject__text">Nouns & Articles</p>
                </li>
                <li>
                  <p class="subject__text">Adjectives & Adverb</p>
                </li>
              </ul>
            </li>
            <li class="direction__item">
              <h3 class="direction__title">— Vocabulary</h3>
              <ul class="subject list">
                <li><p class="subject__text">Family & Relations</p></li>
                <li><p class="subject__text">People & Society</p></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">2 semester</h3>
          <ul class="direction list">
            <li class="direction__item">
              <h4 class="direction__title">— Grammar</h4>
              <ul class="subject list">
                <li><p class="subject__text">Pronouns</p></li>
                <li><p class="subject__text">Active Voice</p></li>
                <li><p class="subject__text">Passive Voice</p></li>
              </ul>
            </li>
            <li class="direction__item">
              <h3 class="direction__title">— Vocabulary</h3>
              <ul class="subject list">
                <li>
                  <p class="subject__text">Home</p>
                </li>
                <li>
                  <p class="subject__text">School</p>
                </li>
                <li>
                  <p class="subject__text">Work</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">3 semester</h3>
          <ul class="direction list">
            <li class="direction__item">
              <h4 class="direction__title">— Grammar</h4>
              <ul class="subject list">
                <li>
                  <p class="subject__text">Modal verbs</p>
                </li>
                <li>
                  <p class="subject__text">Infinitive</p>
                </li>
                <li>
                  <p class="subject__text">Gerund</p>
                </li>
                <li>
                  <p class="subject__text">Participle: 1, 2</p>
                </li>
              </ul>
            </li>
            <li class="direction__item">
              <h3 class="direction__title">— Vocabulary</h3>
              <ul class="subject list">
                <li>
                  <p class="subject__text">Travel & Tourism</p>
                </li>
                <li>
                  <p class="subject__text">Culture & Free Time</p>
                </li>
                <li>
                  <p class="subject__text">Sport</p>
                </li>
              </ul>
            </li>
            <li class="direction__item">
              <h3 class="direction__title">— Writing</h3>
              <ul class="subject list">
                <li>
                  <p class="subject__text">Informal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">4 semester</h3>
          <ul class="direction list">
            <li class="direction__item">
              <h4 class="direction__title">— Grammar</h4>
              <ul class="subject list">
                <li>
                  <p class="subject__text">Clauses: Conditional and Wishes</p>
                </li>
                <li><p class="subject__text">Direct / Reported speech</p></li>
                <li><p class="subject__text">Preposition</p></li>
                <li><p class="subject__text">Conjunction</p></li>
                <li><p class="subject__text">Numeral</p></li>
              </ul>
            </li>
            <li class="direction__item">
              <h3 class="direction__title">— Vocabulary</h3>
              <ul class="subject list">
                <li><p class="subject__text">Healthy Living</p></li>
                <li><p class="subject__text">Nature & Environment</p></li>
                <li><p class="subject__text">Money</p></li>
              </ul>
            </li>
            <li class="direction__item">
              <h3 class="direction__title">— Writing</h3>
              <ul class="subject list">
                <li><p class="subject__text">Formal Letter</p></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">5 semester</h3>
          <ul class="direction list">
            <li class="direction__item">
              <h4 class="direction__title">—</h4>
              <ul class="subject list">
                <li><p class="subject__text">Revision</p></li>
                <li><p class="subject__text">Tests</p></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
