<!-- Reviews -->

<section class="reviews section">
    <div class="container reviews-container">
        <h2 class="feedback__title">Feedback from graduates</h2>
        <div class="feedback">
            <div class="feedback-foto">
                <picture>
                    <source srcset="../src/images/reviews-Tonya-desktab-1x.jpg 1x,
                    ../src/images/reviews-Tonya-desktab-2x.jpg 2x"
                    media="(min-width: 768px)"/>
                    <source srcset="../src/images/reviews-Tonya-mob-1x.jpg 1x,
                    ../src/images/reviews-Tonya-mob-2x.jpg 2x"
                    media="(min-width: 480px)"/>
                    <img class="feedback-img" src="../src/images/reviews-Tonya-mob-1x.jpg" alt="Tonya"/>
                </picture>
                    <svg class="reviews-icon" width="30" height="30">
                        <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                    </svg>
            </div>
            <div class="feedback-review">
                <h3 class="feedback__title--name">Tonya Kucherovskaya</h3>
                <p class="feedback__text--university">Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine</p>
                <article class="feedback__text">
                    <span class="feedback__text--review">
                        In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student...
                        <a class="feedback-link" href="">Read more</a>
                    </span>
                </article>
            </div>
        </div>
        <div class="feedback-pagination">
            <button type="button" class="feedback-arrow--right">
                <svg class="arrow-icon" width="30" height="30">
                    <use href="../src/images/sprite.svg#icon-Arrow-left"></use>
                </svg>
            </button>
            <ul class="feedback-pagination__list list">
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-1-1x.jpg 1x,
                        ../src/images/reviews-1-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="pagination-img" src="../src/images/reviews-1-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-2-1x.jpg 1x,
                        ../src/images/reviews-2-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="pagination-img" src="../src/images/reviews-2-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-3-1x.jpg 1x,
                        ../src/images/reviews-3-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="pagination-img" src="../src/images/reviews-3-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-4-1x.jpg 1x,
                        ../src/images/reviews-4-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="pagination-img" src="../src/images/reviews-4-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-5-1x.jpg 1x,
                        ../src/images/reviews-5-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="pagination-img" src="../src/images/reviews-5-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-6-1x.jpg 1x,
                        ../src/images/reviews-6-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img  class="pagination-img" src="../src/images/reviews-6-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
                <li class="feedback-pagination__item">
                    <picture>
                        <source srcset="../src/images/reviews-7-1x.jpg 1x,
                        ../src/images/reviews-7-2x.jpg 2x"
                        media="( max-width: 480px )">
                        <img class="pagination-img" src="../src/images/reviews-7-1x.jpg" alt="reviews-1">
                    </picture>
                </li>
            </ul>
            <button type="button" class="feedback-arrow--left">
                <svg class="arrow-icon" width="30" height="30">
                    <use href="../src/images/sprite.svg#icon-Arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
