<!-- Reviews -->

<section class="reviews section">
    <div class="container reviews-container">
        <h2 class="reviews-container__title">Feedback from graduates</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            <article class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <picture>
                        <source srcset="../src/images/reviews-card-1-1x.jpg 1x,
                        ../src/images/reviews-card-1-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-cardmob-1-1x.jpg 1x,
                        ../src/images/reviews-cardmob-1-1x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-cardmob-1-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
            <article class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <source srcset="../src/images/reviews-card-2-1x.jpg 1x,
                        ../src/images/reviews-card-2-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-cardmob-2-1x.jpg 1x,
                        ../src/images/reviews-cardmob-2-1x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-cardmob-2-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
            <article class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <source srcset="../src/images/reviews-card-3-1x.jpg 1x,
                        ../src/images/reviews-card-3-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-cardmob-3-1x.jpg 1x,
                        ../src/images/reviews-cardmob-3-1x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-cardmob-3-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
            <article class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <source srcset="../src/images/reviews-card-4-1x.jpg 1x,
                        ../src/images/reviews-card-4-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-cardmob-4-1x.jpg 1x,
                        ../src/images/reviews-cardmob-4-1x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-cardmob-4-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
            <article class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <source srcset="../src/images/reviews-card-5-1x.jpg 1x,
                        ../src/images/reviews-card-5-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-cardmob-5-1x.jpg 1x,
                        ../src/images/reviews-cardmob-5-1x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-cardmob-5-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
            <article class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <picture>
                        <source srcset="../src/images/reviews-Tonya-desktab-1x.jpg 1x,
                        ../src/images/reviews-Tonya-desktab-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-Tonya-mob-1x.jpg 1x,
                        ../src/images/reviews-Tonya-mob-2x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-Tonya-mob-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
            <article  class="reviews__article swiper-slide">
                <div class="reviews__article-foto">
                    <source srcset="../src/images/reviews-card-7-1x.jpg 1x,
                        ../src/images/reviews-card-7-2x.jpg 2x"
                        media="(min-width: 768px)"/>
                        <source srcset="../src/images/reviews-cardmob-7-1x.jpg 1x,
                        ../src/images/reviews-cardmob-7-1x.jpg 2x"
                        media="(min-width: 480px)"/>
                        <img class="reviews__article-foto-img" src="../src/images/reviews-cardmob-7-1x.jpg" alt="Tonya"/>
                    </picture>
                    <a class="reviews__article-foto-link link" href="">
                        <svg class="reviews-icon" width="30" height="30">
                            <use href="../src/images/sprite.svg#icon-vk-reviews"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews__article-feedback">
                    <h3 class="reviews__article-feedback-name">Tonya Kucherovskaya</h3>
                    <p class="reviews__article-feedback-university">Graduated from 2015, National University of Bioresources
                        and natural history of Ukraine</p>
                    <p class="reviews__article-feedback-text">In a short time with Elena, I mastered grammar and replenished my 
                        completely empty vocabulary. From the first lesson I realized that I was on my plate. 
                        Elena and I became friends because she was really worried about my success. She became an authority for me, 
                        but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student ...
                        <a class="reviews__article-feedback-link" href="">Read more</a>
                    </p>
                </div>
            </article>
        </div>
        </div>
        <div class="reviews__slider">
            <ul class="reviews__slider-list list">
                <li class="reviews__slider-list__item activ">
                    <a class="link" href="">
                    <picture>
                        <source srcset="../src/images/reviews-1-1x.jpg 1x,
                        ../src/images/reviews-1-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="reviews__slider-list__item__img" src="../src/images/reviews-1-1x.jpg" alt="reviews-1">
                    </picture>
                </a>
                </li>
                <li class="reviews__slider-list__item activ">
                    <a class="link" href="">
                        <picture>
                            <source srcset="../src/images/reviews-2-1x.jpg 1x,
                            ../src/images/reviews-2-2x.jpg 2x"
                            media="( min-width: 480px )">
                            <img class="reviews__slider-list__item__img" src="../src/images/reviews-2-1x.jpg" alt="reviews-1">
                        </picture>
                    </a>
                </li>
                <li class="reviews__slider-list__item activ">
                    <a class="link" href=""><picture>
                        <source srcset="../src/images/reviews-3-1x.jpg 1x,
                        ../src/images/reviews-3-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="reviews__slider-list__item__img" src="../src/images/reviews-3-1x.jpg" alt="reviews-1">
                    </picture>
                </a>
                </li>
                <li class="reviews__slider-list__item activ">
                    <a class="link" href=""><picture>
                        <source srcset="../src/images/reviews-4-1x.jpg 1x,
                        ../src/images/reviews-4-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="reviews__slider-list__item__img" src="../src/images/reviews-4-1x.jpg" alt="reviews-1">
                    </picture>
                    </a>
                </li>
                <li class="reviews__slider-list__item activ">
                    <a class="link" href=""><picture>
                        <source srcset="../src/images/reviews-5-1x.jpg 1x,
                        ../src/images/reviews-5-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img class="reviews__slider-list__item__img" src="../src/images/reviews-5-1x.jpg" alt="reviews-1">
                    </picture>
                    </a>
                </li>
                <li class="reviews__slider-list__item activ">
                    <a class="link" href=""><picture>
                        <source srcset="../src/images/reviews-6-1x.jpg 1x,
                        ../src/images/reviews-6-2x.jpg 2x"
                        media="( min-width: 480px )">
                        <img  class="reviews__slider-list__item__img" src="../src/images/reviews-6-1x.jpg" alt="reviews-1">
                    </picture>
                    </a>
                </li>
                <li class="reviews__slider-list__item activ">
                    <a class="link" href=""><picture>
                        <source srcset="../src/images/reviews-7-1x.jpg 1x,
                        ../src/images/reviews-7-2x.jpg 2x"
                        media="( max-width: 480px )">
                        <img class="reviews__slider-list__item__img" src="../src/images/reviews-7-1x.jpg" alt="reviews-1">
                    </picture>
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class=" reviews__slider-btn left-btn ">
            <svg class="arrow-icon" width="25" height="25">
                <use href="../src/images/sprite.svg#icon-Arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="reviews__slider-btn right-btn">
            <svg class="arrow-icon" width="25" height="25">
                <use href="../src/images/sprite.svg#icon-Arrow-right"></use>
            </svg>
        </button>
    </div>
</section>
