.advantages-list__item {
  @include font(700, 14px, 23px);
  display: grid;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .advantages-list__item {
    grid-template-columns: 72px 1fr;
    grid-template-rows: 80px;
  }

  .advantages-list__icon-adapted {
    &::before {
      content: '';
      width: 58px;
      height: 60px;
      background-image: url('../images/advantages-icon-1.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .advantages-list__icon-modern {
    &::before {
      content: '';
      width: 58px;
      height: 60px;
      background-image: url('../images/advantages-icon-2.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .advantages-list__icon-financial {
    &::before {
      content: '';
      width: 58px;
      height: 60px;
      background-image: url('../images/advantages-icon-3.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1679px) {
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages-list__item {
    grid-template-columns: 75px 1fr;
    justify-items: center;
  }

  .advantages-list__text {
    display: grid;
    grid-template-columns: 130px;
  }

  .advantages-list__icon-adapted {
    &::before {
      content: '';
      width: 59px;
      height: 61px;
      background-image: url('../images/advantages-icon-1.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .advantages-list__icon-modern {
    &::before {
      content: '';
      width: 59px;
      height: 61px;
      background-image: url('../images/advantages-icon-2.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .advantages-list__icon-financial {
    &::before {
      content: '';
      width: 59px;
      height: 61px;
      background-image: url('../images/advantages-icon-3.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1680px) {
  .advantages-list__item {
    @include font(700, 20px, 33px);
  }

  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
  }

  .advantages-list__item {
    grid-template-columns: 82px 1fr;
  }

  .advantages-list__icon-adapted {
    &::before {
      content: '';
      width: 100px;
      height: 103px;
      background-image: url('../images/advantages-desktop.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .advantages-list__icon-modern {
    &::before {
      content: '';
      width: 100px;
      height: 103px;
      background-image: url('../images/advantages-desktop-1.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .advantages-list__icon-financial {
    &::before {
      content: '';
      width: 100px;
      height: 103px;
      background-image: url('../images/advantages-desktop-2.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
