.section {
    max-width: 1680px;
    background-color: var(--color-black);

    border: 1px solid #000000;

    background-image: linear-gradient((0px 4px 4px rgba(0, 0, 0, 0.25))),
    url("../images/contacts-mobille-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section {
        background-image: linear-gradient((0px 4px 4px rgba(0, 0, 0, 0.25))),
            url("../images/contacts-mobile@2x-min.jpg");
    }
}

.contacts-title {
    @include font(800, 14px, 18px);
    letter-spacing: 0.03em;
    margin-bottom: 24px;
    padding: 0 20px;

    text-align: center;
    color: #fff;
}

.contacts-title__color-orange{
    color: var(--accent-color)
}

.contacts-text {
    @include font(600, 12px, 15px);

    text-align: center;
    letter-spacing: 0.08em;
    color: var(--color-white);

    margin-bottom: 40px;
}

.contacts-text__color-orange {
    color: var(--accent-color);
}

.contacts-form__input{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-left: 24px;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);

    transition: color 250ms linear,
            background-color 250ms linear,
            border 250ms linear;

    &::placeholder{
        color: var(--color-white);
    }

    &:hover,
    &:focus{
        outline: none;
        border: 1px solid var(--accent-color);
    }

    &:invalid{
        border: solid #ff0000;
    }
}

.contacts-form__input-name{
    margin-bottom: 20px;
}

.contacts-form__btn{
    width: 100%;
    padding: 14px 0;
    margin-top: 40px;

    @include font(null, 12px, 15px);
    letter-spacing: 0.08em;
    text-transform: uppercase;

    background-color: var(--accent-color);
    color: var(--color-white);
    border: 1px solid var(--accent-color);
    cursor: pointer;

    transition: color 250ms linear,
            background-color 250ms linear,
            border 250ms linear;

    &:hover,
    &:focus{
        outline: none;
        background-color: transparent;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}

@media screen and (min-width: 768px){
    .section {
            background-image: linear-gradient((0px 4px 4px rgba(0, 0, 0, 0.25))),
                url("/images/contacts-tablet@2x-min.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section {
                background-image: linear-gradient((0px 4px 4px rgba(0, 0, 0, 0.25))),
                    url("/images/contacts-tablet-min.jpg");
            }
        }
    .contacts-title {
        @include font(null, 26px, 34px);
        padding: 0 40px;
        margin-bottom: 40px;
    }

    .contacts-text {
        @include font(null, 14px, 17px);
        margin-bottom: 24px;
    }

    .contacts-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts-form__input{
        width: 336px;
        color: var(--color-white);
    }

    .contacts-form__btn {
        width: 335px;
        margin-top: 32px;
    }
}

@media screen and (min-width: 1680px) {
    .section {
        background-image: linear-gradient((0px 4px 4px rgba(0, 0, 0, 0.25))),
            url("/images/contacts-desktop@2x-min.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section {
            background-image: linear-gradient((0px 4px 4px rgba(0, 0, 0, 0.25))),
                url("/images/contacts-desktop-min.jpg");
        }
    }

        .contacts-title {
            @include font(null, 46px, 60px);
            padding: 0 295px;
        }

        .contacts-text {
            @include font(null, 30px, 37px);
            letter-spacing: 0.08em;
            margin-bottom: 60px;
        }

        .contacts-form__input {
            width: 528px;
            height: 70px;
        }

        .contacts-form__btn {
            width: 528px;
            height: 70px;
            margin-top: 40px;
        }
}