.guarantee__wrapper.container {
    background-color: var(--secondary-light-gray);
}

.guarantee-list {
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        border-left: 1px dashed var(--color-light-grey);
        position: absolute;
        width: 1px;
        height: 54%;
        top: 51px;
        left: 7px;
        z-index: 1;
    }
}

.guarantee .section-title {
    @include font (800, 26px, 34px);
    text-align: center;
    margin-bottom: 40px;
}

.guarantee-list__item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 14px;
        height: 20px;
        background-image: url('../images/icon-grnt-campfire.svg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }
}

.guarantee-list__item-desc {
    margin-left: 34px;
    @include font (500, 12px, 20px);
    color: var(--color-dark-grey);
}

.guarantee-list__item_accent {
    @include font (500, 12px, 20px);
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {

    .guarantee__wrapper.container {
        background-color: var(--color-white);
    }

    .guarantee-list {
        background-color: var(--secondary-light-gray);
        padding-top: 32px;
        padding-right: 58px;
        padding-bottom: 32px;
        padding-left: 87px;

        &::after {
            left: 94px;
        }
    }
.guarantee-list__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .guarantee-list__item-desc {
        margin-left: 39px;
    }
}

@media screen and (min-width: 1680px) {

    .guarantee .section-title {
        @include font (800, 46px, 60px);
        }

    .guarantee-list__item-desc {
        margin-left: 52px;
        @include font (500, 20px, 28px);
    }

    .guarantee-list__item_accent {
        @include font (500, 20px, 28px);
    }

    .guarantee-list {
        background-color: var(--secondary-light-gray);
        padding: 60px 280px;

        &::after {
            height: 50%;
            top: 80px;
            left: 290px;
        }
    }
        .guarantee-list__item::before {
                width: 22px;
                height: 30px;
            }
}