.guarantee__wrapper.container {
    background-color: var(--secondary-light-gray);
}

.guarantee-list {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.guarantee .section-title {
    @include font (800, 26px, 34px);
    text-align: center;
    margin-bottom: 40px;
}

.guarantee-list__item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 24px;
        &::after {
            content: '';
            display: inline-block;
            border-left: 1px dashed var(--color-light-grey);
            position: absolute;
            width: 1px;
            height: 100%;
            top: 22px;
            left: 7px;
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 15px;
        height: 20px;
        background-image: url('../images/icon-grnt-campfire-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.guarantee-list__item-desc {
    margin-left: 35px;
    @include font (500, 12px, 20px);
    color: var(--color-dark-grey);
}

.guarantee-list__item-accent {
    @include font (500, 12px, 20px);
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {

    .guarantee__wrapper.container {
        background-color: var(--color-white);
    }

    .guarantee-list {
        background-color: var(--secondary-light-gray);
        padding-top: 32px;
        padding-right: 75px;
        padding-bottom: 32px;
        padding-left: 104px;

    }
.guarantee-list__item:not(:last-child) {
        margin-bottom: 20px;
        &::after {
            height: 90%;
            top: 22px;
            left: 7px;
        }
    }
    .guarantee-list__item-desc {
        margin-left: 39px;
    }
}

@media screen and (min-width: 1680px) {

    .guarantee .section-title {
        @include font (800, 46px, 60px);
        }

    .guarantee-list__item-desc {
        margin-left: 52px;
        @include font (500, 20px, 28px);
    }

    .guarantee-list__item-accent {
        @include font (500, 20px, 28px);
    }

    .guarantee-list {
        background-color: var(--secondary-light-gray);
        padding: 60px 280px;

    }
    .guarantee-list__item:not(:last-child)::after {
        height: 75%;
        top: 32px;
        left: 10px;
    } 

    .guarantee-list__item::before {
            width: 22px;
            height: 30px;
            background-image: url('../images/icon-grnt-campfire.svg');
        }
}