.nav-list {
    display: flex;
}

.nav-list__item {
    margin-right: 40px;
}

.nav-list__item-link {
    @include font (700, 14px, 17px);
    text-transform: uppercase;
    color: var(--color-light-grey);
    padding: 25px 0;
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
        
.consultation-btn {
    @include font (700, 14px, 17px);
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--accent-color);
    background-color: transparent;
    padding: 15px 5px;
    border: 2px solid var(--accent-color);
    margin-right: 40px;
    transition: color 250ms linear, background-color 250ms linear;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--color-white);
        background-color: var(--accent-color);
    }
}

// MOBILE
@media screen and (max-width: 1679px) {
    .nav-list {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .consultation-btn {
        display: none;
    }

    .logo__icon-tablet {
        display: none;
    }
}

.header {
    padding-top: 20px;
}

.burger-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.burger-menu-btn__icon {
    fill: #000000;
}

// TABLET
@media screen and (min-width: 768px) {
    .header {
        padding-top: 40px;
    }

    .logo__icon-mobile {
        display: none;
    }

    .logo__icon-tablet {
        display: block;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// DESKTOP
@media screen and (min-width: 1680px) {
    .burger-menu-btn {
        display: none;
    }

    .consultation-btn {
        padding: 25px 47px;
        margin-right: 0;
    }
}

.header__left {
    display: flex;
    align-items: center;
}