.hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.hero-gradient {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section__title {
  letter-spacing: 0.03em;
  color: var(--colir-black);
  margin-bottom: 8px;
}

.hero-section__subtitle {
  @include font(700, 14px, 22px);
  letter-spacing: 0.08em;
  margin-bottom: 48px;
  color: var(--colir-black);
}

.hero-section__text {
  @include font(500, 14px, 22px);
  letter-spacing: 0.08em;
  color: var(--color-light-grey);
}

.hero-section__decoration {
  color: var(--accent-color);
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero-section {
    flex-wrap: wrap;
    align-content: center;
  }

  .hero-section__title {
    @include font(800, 20px, 26px);
    width: 280px;
  }

  .hero-section__subtitle {
    margin-bottom: 40px;
  }

  .hero-gradient {
    min-height: 582px;
    background-image: url('../images/mobile-vector.png');
  }

  @media (min-device-pixel-ratio: 0), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-gradient {
      background-image: url('../images/mobile-vector@2x.png');
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1679px) {
  .hero-section__title {
    @include font(800, 26px, 34px);
    width: 332px;
  }
  .hero-gradient {
    min-height: 533px;
    background-image: url('../images/tablet-vector.png');
  }

  @media (min-device-pixel-ratio: 0), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-gradient {
      background-image: url('../images/tablet-vector@2x.png');
    }
  }
}

@media screen and (min-width: 1680px) {
  .hero-section__title {
    @include font(800, 58px, 75px);
    width: 624px;
  }

  .hero-section__subtitle {
    @include font(700, 20px, 33px);
  }

  .hero-section__text {
    @include font(500, 20px, 33px);
  }

  .hero-section__decoration {
    color: var(--colir-black);
    display: inline-block;
  }
  .hero-gradient {
    min-height: 874px;
    background-image: url('../images/desktop-vector.png');
    // background-position-y: -270px;
  }

  @media (min-device-pixel-ratio: 0), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-gradient {
      background-image: url('../images/desktop-vector@2x.png');
    }
  }
}
