.doit .section-title {
        margin-bottom: 32px;
        text-align: center;
    }

.doit__wrapper {
    padding-right: 5px;
    padding-left: 5px;

}
.doit-list__caption {
    margin-bottom: 40px;
    @include font (700, 14px, 20px);
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--color-black);
}

.doit-list__desc {
    position: relative;
    @include font (500, 12px, 20px);
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--color-light-grey);

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -20px;
        width: 20px;
        height: 2px;
        background-color: var(--accent-color);
        transform: translateX(-50%);
    }
}

.doit-list__icon {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    fill: var(--accent-color);
}

.doit-list {
    margin-bottom: -16px;
}

.doit-list__item {
    max-width: 280px;
    min-height: 280px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 32px;
    padding-right: 11px;
    padding-bottom: 4px;
    padding-left: 11px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    transition: fill 250ms linear,
            color 250ms linear,
            background-color 250ms linear;

    &:hover {
        background-color: var(--accent-color);
        & .doit-list__icon {
            fill: var(--color-white);
        }
        & .doit-list__caption {
            color: var(--color-white);
        }
        & .doit-list__desc {
            color: var(--color-white);
            &::before {
                content: '';
                background-color: var(--color-white);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .doit .section-title {
        margin-bottom: 40px;
    }
    .doit__wrapper {
        padding-left: 17px;
        padding-right: 17px;
    }

    .doit-list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -32px;
        margin-bottom: -24px;
    }

    .doit-list__item {
        max-width: 336px;
        min-height: 336px;
        margin-right: 32px;
        margin-bottom: 24px;
        padding-top: 40px;
        padding-right: 14px;
        padding-bottom: 33px;
        padding-left: 14px;
        flex-basis: calc(100% / 2 - 32px);
    }

    .doit-list__icon {
        margin-bottom: 32px;
    }

    .doit-list__caption {
        margin-bottom: 48px;
    }

    .doit-list__desc::before {
        top: -24px;
    }
}

@media screen and (min-width: 1680px) {
    .doit .section-title {
        margin-bottom: 80px;
        text-align: left;
    }

    .doit__wrapper {
        padding-left: 1px;
        padding-right: 1px;
    }

    .doit-list {
        margin-right: -32px;
        margin-bottom: -31px;
    }
    
    .doit-list__item {
        max-width: 528px;
        min-height: 492px;
        margin-bottom: 31px;
        padding-top: 90px;
        padding-right: 82px;
        padding-bottom: 91px;
        padding-left: 81px;
        flex-basis: calc(100% / 3 - 32px);
    }

    .doit-list__caption {
        @include font (700, 20px, 28px);
        margin-bottom: 40px;
    }

    .doit-list__desc {
        @include font (500, 18px, 28px);
        &::before {
            top: -20px;
        }
}
}