.modal-certificate {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1), visibility 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.certificate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: calc(100% - 30px);
    padding: 20px;

    border-radius: 5px;
    background-color: var(--color-certificate);
}

.cross {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--color-certificate);
    border: 1px solid var(--accent-color);
    border-radius: 50%;

    cursor: pointer;

    transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: var(--accent-color);
    }
}

.cross__icon {
    fill: var(--accent-color);
    transition: fill 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    .cross:hover & {
        fill: var(--color-white);
    }
}


@media screen and (min-width: 480px) {
    .certificate {
        min-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .certificate {
        max-width: 1000px;
    }
}