.program {
    padding-bottom: 145px;
    background: var(--color-black);
}

.section-title_color {
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-white);
}

.semester {
    position: relative;
    padding-left: 47px;

    &::after {
        position: absolute;
        content: "";
        width: 176px;
        height: 137px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/program-pic-mobile.png);
        left: 155px;
        bottom: -105px;
    }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .semester::after {
        background-image: url(../images/program-pic-mobile@2x.png);
      }
  }

//from 0 to 1679px
@media screen and (max-width: 1679px) {
    .semester::before {
        position: absolute;
        content: '';
        border-left: 1px solid var(--color-white);
        top: 10px; 
        bottom: 85px;
    }
}

.semester__item {
    position: relative;
    padding-left: 26px;
    margin-bottom: 40px;
    @include font (700, 14px, 28px);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-white);

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/ellipse.svg);
        top: 8px;
        left: -5px;
    }
}

.direction__item {
    margin-top: 4px;
    @include font (700, 12px, 20px);
    text-transform: initial;
    color: var(--accent-color);
}

.subject {
    margin-top: 4px;
}

.subject__item {
    @include font (500, 12px, 20px);
    color: var(--color-light-grey);
    opacity: 0.5;
}

//from 768px to 1679px
@media screen and (min-width: 768px) and (max-width: 1679px) {
    .program {
        padding-top: 60px;
        padding-bottom: 180px;
    }

    .section-title_color {
        text-align: left;
    }

    .semester {
        padding-left: 88px;

        &::after {
            width: 368px;
            height: 268px;
            background-image: url(../images/program-pic-tablet.png);
            left: 390px;
            bottom: -110px;
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .semester::after {
        background-image: url(../images/program-pic-tablet@2x.png);
      }
  }
        
    .semester__item {
        padding-left: 113px;
    }

    .direction {
        display: flex;
    }

    .direction__item {
        margin-right: 32px;
        flex-basis: calc((100% - 64px) / 3);

        &:last-child {
            margin-right: 0;
        }
    }
}

// 1680px +
@media screen and (min-width: 1680px) {
    .program {
        position: relative;
        padding-bottom: 436px;
    }

    .program::before {
        content: '';
        position: absolute;
        border-top: 1px solid var(--color-white);
        width: 100vw;
        top: 225px; 
    }

    .section-title_color {
        margin-bottom: 136px;
        text-align: left;
    }

    .program__wrapper {
        width: 1360px;
        margin: 0 auto;
    }

    .semester {
        padding-left: 0;
        display: flex;

        &::after {
            width: 772px;
            height: 510px;
            background-image: url(../images/program-pic-desktop.png);
            left: -165px;
            bottom: -335px;
        }
    }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .semester::after {
        background-image: url(../images/program-pic-desktop@2x.png);
      }
  }

    .semester__item {
        padding-left: 0;
        margin-bottom: 0;
        margin-right: 40px;
        flex-basis: calc((100% - 160px) / 5);
        @include font (700, 30px, 28px);

        &:last-child {
            margin-right: 0;
        }

        &::before {
            width: 16px;
            height: 16px;
            top: -60px;
            left: 0;
        }
    }

    .direction__item {
        margin-top: 24px;
        @include font (700, 20px, 33px);
    }

    .subject{
        margin-top: 8px;
    }

    .subject__item{
        @include font (500, 18px, 28px);
    }
}