.problems {
    position: relative;

    background-color: var(--color-black);
    color: var(--color-white);
    background-image: linear-gradient(to bottom,
            var(--color-black) 0 75%,
            var(--color-white)75% 100%);
}
body .problems {
    padding-top: 24px;
    padding-bottom: 0;
}

.problems__title {
    margin-bottom: 24px;
}
.problems__icon {
    display: none;
}
.problems__help {
    color: var(--accent-color);
}

.problems__wrapper {
    color: var(--color-black);
    background: var(--color-white);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems-list {
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 32px;
    @include font(700, 14px, 24px);
  
    counter-reset: number 0;

    display: block;
    align-items: center;
    letter-spacing: 0.08em;

    color: var(--color-black);
}
.problems-list__item:not(:last-child){
    margin-bottom: 16px;
}

.problems-list__pre-text {
@include font(700, 14px, 17px);
    counter-increment: number;
    color: var(--accent-color);
    white-space: pre;
    margin-bottom: 5px;
}

.problems-list__pre-text::after {
    content: counter(number, decimal-leading-zero);
    color: var(--accent-color);
}

.problems-list__text {
 @include font(700, 14px, 20px);
}


@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
body .problems {
        padding-top: 40px;
    }
    .problems__title {
        margin-bottom: 25px;
    }

    .problems-list {
        display: flex;
        flex-wrap: wrap;

        padding: 0;
    }
  
  
}

@media screen and (min-width: 1680px) {
    body .problems {
            padding-top: 80px;
        }
    .problems__title {
        margin-bottom: 80px;
    }

  

    .problems {
        // linear-gradient(to bottom,
        //         var(--color-black) 0 75%,
        //         var(--color-white)75% 100%);


        background-image: url(../images/campfire.svg);
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    // .problems__icon {
    //     display: block;
    //     position: absolute;
    //     top: 88px;
    //     right: -100px;
    //     fill: var(--color-dark-grey);
    //     fill-opacity: 0.5;

    // }

   .problems-list__pre-text{
    @include font(700, 20px, 33px);
   }
    .problems-list__text {
    @include font(700, 20px, 28px);
    }
}