.reviews-container {
    text-align: center;
    padding-bottom: 40px;
    @media screen and (min-width: 320px) {
        max-width: 320px;
        padding: 0 20px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
        text-align: left;
        position: relative;
        padding: 0 32px;
    }
    @media screen and (min-width: 1680px) {
        max-width: 1213px;
        padding: 0 63px 0 62px;
    }
}

.feedback {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 40px 48px 40px 50px;
    }
    @media screen and (min-width: 1680px) {
        padding: 60px 111px 60px 81px;
    }
}

.feedback-foto {
    @media screen and (min-width: 768px) {
        min-width: 150px;
        margin-right: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.feedback__title {
    @include font (800, 20px, 26px);
    letter-spacing: 0.03em;
    color: var(--color-black);
    margin-bottom: 24px;
    text-align: center;
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        @include font (800, 26px, 34px);
    }
    @media screen and (min-width: 1680px) {
        @include font (800, 46px, 60px);
    }
}

.feedback-img {
    margin: 0 auto;
    margin-bottom: 24px;
    @media screen and (min-width: 1680px) {
        margin-bottom: 8px;
    }
}

.feedback-review {
    width: 100%;
    @media screen and (min-width: 768px) {
        
    }
}

.feedback__text {
    padding: 0 25px;
    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.feedback__title--name {
    @include font (800, 14px, 17px);
    letter-spacing: 0.08em;
    color: var(--accent-color);
    margin-bottom: 16px;
    margin-top: 24px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        @include font (800, 20px, 24px);
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1680px) {
        @include font (800, 30px, 37px);
        margin-bottom: 8px;
    }
}

.feedback__text--university {
    @include font (500, 12px, 15px);
    letter-spacing: 0.08em;
    color: var(--color-light-grey);
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1680px) {
        @include font (500, 14px, 17px);
        width: 482px;
    }
}

.feedback__text--review {
    @include font (500, 12px, 20px);
    color: var(--color-dark-grey);
    @media screen and (min-width: 1680px) {
        @include font (500, 18px, 28px);
    }
}

.feedback-link {
    @include font (500, 12px, 20px);
    color: var(--accent-color);
    @media screen and (min-width: 1680px) {
        @include font (500, 18px, 28px);
    }
}

.feedback-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    @media screen and (min-width: 1680px) {
        margin-top: 40px;
    }
}

.feedback-pagination__list {
    display: flex;
    justify-content: center;
    margin: 0 22px;
    justify-content: baseline;
}

.feedback-pagination__item {
    &:nth-child(-n + 2) {
        margin-right: 15px;
    }
    @media screen and (min-width: 768px) { 
        &:not(:last-child) {
        margin-right: 32px;
        }
    }
    @media screen and (max-width: 767px) {
        &:nth-child(n + 4) {
            display: none;
        }
    }
}

.feedback-arrow--right {
    border: none;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-content: center;
    @media screen and (min-width: 768px) { 
        position: absolute;
        right: 36px;
        top: 50%;
    }
    @media screen and (min-width: 1680px) { 
        right: 0px;
        top: 50%;
    }
}

.feedback-arrow--left {
    border: none;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-content: center;
    @media screen and (min-width: 768px) { 
        position: absolute;
        left: 36px;
        top: 50%;
    }
    @media screen and (min-width: 1680px) { 
        left: 0;
        top: 50%;
    }
}

