.reviews-container {
    @media screen and (min-width: 1680px) {
        width: 1203px;
    }
}

.reviews__article {
    padding: 0 25px;
    @media screen and (min-width: 768px) {
        display: flex;
        padding: 40px 65px 40px 67px;
    }
    @media screen and (min-width: 1680px) {
        width: 1088px;
        padding: 60px 111px 60px 81px;
        margin: 0 auto;
    }
}

.reviews-container__title {
    @include font (800, 20px, 26px);
    letter-spacing: 0.03em;
    color: var(--color-black);
    text-align: center;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-bottom: 40px;
        @include font (800, 26px, 34px);
    }
    @media screen and (min-width: 1680px) {
        @include font (800, 46px, 60px);
    }
}

.reviews__article-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        min-width: 150px;
        margin-right: 44px;
        justify-content: flex-start;
    }
    @media screen and (min-width: 768px) {
        margin-right: 40px;
    }
}

.reviews__article-foto-img {
    margin-bottom: 24px;
    @media screen and (min-width: 1680px) {
        margin-bottom: 8px;
    }
}

.reviews__article-feedback-name {
    @include font (800, 14px, 17px);
    letter-spacing: 0.08em;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        @include font (800, 20px, 24px);
        text-align: left;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1680px) {
        @include font (800, 30px, 37px);
        margin-bottom: 8px;
    }
}

.reviews__article-feedback-university {
    @include font (500, 12px, 15px);
    letter-spacing: 0.08em;
    text-align: center;
    color: var(--color-light-grey);
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        text-align: left;
    }
    @media screen and (min-width: 1680px) {
        @include font (500, 14px, 17px);
        width: 482px;
    }
}

.reviews__article-feedback-text {
    @include font (500, 12px, 20px);
    text-align: center;
    color: var(--color-dark-grey);
    @media screen and (min-width: 768px) {
        text-align: left;
    }
    @media screen and (min-width: 1680px) {
        @include font (500, 18px, 28px);
    }
}

.reviews__article-feedback-link {
    @include font (500, 12px, 20px);
    color: var(--accent-color);
    @media screen and (min-width: 1680px) {
        @include font (500, 18px, 28px);
    }
}

.reviews__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    @media screen and (min-width: 1680px) {
        margin-top: 40px;
    }
}

.reviews__slider-list {
    display: flex;
    justify-content: center;
    margin: 0 22px;
    justify-content: baseline;
}

.reviews__slider-list__item {
    border-radius: 50%;
    &:nth-child(-n + 2) {
        margin-right: 15px;
    }
    @media screen and (min-width: 768px) { 
        &:not(:last-child) {
        margin-right: 32px;
        }
    }
    @media screen and (max-width: 767px) {
        &:nth-child(n + 4) {
            display: none;
        }
    }
}

.reviews__slider-list__item__img {
    border-radius: 50%;
}

.reviews__slider-btn {
    border: none;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-content: center;
}

.right-btn {
    // @media screen and (min-width: 768px) { 
    //     position: absolute;
    //     right: 36px;
    //     top: 50%;
    // }
    // @media screen and (min-width: 1680px) { 
    //     right: 0px;
    //     top: 50%;
    // }
}

.left-btn {
    // @media screen and (min-width: 768px) { 
    //     position: absolute;
    //     left: 36px;
    //     top: 50%;
    // }
    // @media screen and (min-width: 1680px) { 
    //     left: 0;
    //     top: 50%;
    // }
}

